@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css
);
h1 {
	font-family: "Homemade Apple";
	text-align: center;
	color: black;
	font size:40px;
}

h3 {
	font-family: Georgia;
	text-align:center;
	color: black;
}

header {
	background-image: url(../images/hero.jpg);
	background-size: cover;
	position: relative;
	height: 100vh;
}

.header_text {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}

p {
	font-family: Georgia;
	text-align: center;
	padding-top: 1em;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

li{
	float: left;
}

li a {
	display: block;
	color: #000000;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111
}

ul {
	font-family: Georgia;
	list-style-position: inside;
	padding: 5px 25px 5px 25px;
}

img {
	float: center;
	max-width: 100vh;
}

.column {
	float: left;
}

.projects .column {
	width: 50%;
}

.services .column{
	width: 33.33%;
}

.aside .column{
	width: 33.33%;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.aside {
	text-align: center;
	padding: 20px;
	float: left;
	background-color: white;
}

.services {
	background-color: white;
	padding: 20px;
}
 
.headers {
	font-family: "Homemade Apple", cursive;
	font-size: 25px;
}
.ebook {
	font-family: "Coming Soon", Georgia;
	text-align: center;
	padding-left: 4 em;
	font-size: 20px;
}
 
.print {
	font-family: "Coming Soon", Georgia;
	font-size: 20px;
	text-align: center;
	padding-left: 1 em;
}
 
.editorial {
	font-family: "Coming Soon", Georgia;
	font-size: 20px;
	text-align: center;
	}

.contact {
	background-color: white;
	padding: 20px;
}
#project-1-bg {
	background-image: url(...);
}

footer {
	background-color: white;
	padding: 20px;
	text-align: center;
}

