@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);

h1 {
	font-family: "Homemade Apple";
	text-align: center;
	padding-top: 3em;
}

h3 {
	font-family: Georgia;
	text-align:center;
}
p {
	font-family: Georgia;
	text-align: center;
	padding-top: 1em;
}
ul {
	font-family: Georgia;
	list-style-position: inside;
}

img {
	float: center;
	max-width: 100vh;
}

.projects .column {
	width: 50%;
}

.column {
	float: left;
}

.services .column{
	width: 33.33%;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.about {
	text-align: center;
	padding-right: 6em;
	padding-left: 6em;
}
 
.headers {
	font-family: "Homemade Apple", cursive;
	padding-top: 2em;
	font-size: 25px;
}
.ebook {
	font-family: "Coming Soon", Georgia;
	text-align: center;
	padding-left: 4 em;
	font-size: 20px;
}
 
.print {
	font-family: "Coming Soon", Georgia;
	font-size: 20px;
	text-align: center;
	padding-left: 1 em;
}
 
.editorial {
	font-family: "Coming Soon", Georgia;
	font-size: 20px;
	text-align: center;
	}
 
.ul2 {
	text-align: center;
	list-style-position: inside;
	padding-left: 6em;
	padding-right: 6em;
}
 
.ul3 {
	text-align: right;
	padding-left: 14 em;
	list-style-position: inside;
}

#project-1-bg {
	background-image: url(...);
}