@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css
);
body {
	font-size: 16px;
}
/*NAVIGATION BAR*/

ol.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

li {
	float: left;
}

li a {
	display: block;
	color: #000000;
	font-weight: bold;
	text-align: center;
	padding: 1em;
	text-decoration: none;
}

li a:hover {
	background-color: #e7e7e7
}

/**-->HEADER<--**/
/*hero image*/
header {
	background-image: url(../images/hero.jpg);
	background-size: cover;
	position: relative;
	height: 100vh;
}
/*Overbey Book Designs*/
h1 {
	font-family: "Homemade Apple";
	text-align: center;
	color: black;
	font size: 3em;
}

.header_text {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}

/*Building better books*/
h3 {
	font-family: Georgia;
	text-align:center;
	color: black;
}

/*header paragraph text*/
p {
	font-family: Georgia;
	text-align: center;
	padding-top: 1em;
}

/**--> SERVICES <--**/
/*structure*/
.column {
	float: left;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/*Links*/
a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}


/*TEXT*/
.services {
	font-family: "Coming Soon", Georgia;
	font-size: 2em;
	text-align: center;
	margin: 0;
	padding: 0;
}
/*Bullet text*/
ul {
	font-family: Georgia;
	list-style-position: inside;
	padding: .25em 1.5em .25em 1.5em;
}

.columnimage{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.print .column{
	width: 50%;
	height: 56.25vw;
	position: relative;
}

.print {
	font-family: "Coming Soon", Georgia;
	font-size: 1em;
	padding: 2em;
	background-image: url(../images/hero.jpg);
}

.ebook .column {
	background-color: white;
	height: 56.25vw;
	width: 50%;
	position: relative;
}

.column-services {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}

.ebook {
	font-family: "Coming Soon", Georgia;
	font-size: 1em;
	background-color: white;
	text-align: center;
}
.editorial .column{
	width: 50%;
	height: 56.25vw;
	position: relative;
}

.editorial {
	font-family: "Coming Soon", Georgia;
	font-size: 1em;
	background-color: white;
	}

/**-->ABOUT ME<--**/
.about {
	display: block;
	padding: 1em 8em 1em 8em;
	text-align: center;
	background-color: white;
}

.Kayla {
	display: block;
	width: 30%;
	margin: 0 auto; /*centers image*/
}
/*About Overbey Book Designs & What Are You Waiting For?*/

.headers {
	font-family: "Homemade Apple";
	font-size: 1.5em;
}


 /**FOOTER**/
footer {
	background-image: url(../images/hero.jpg);
	text-align: left;
	padding: 1em;
}

.button {
	font-family: "Homemade Apple";
	background-color: white;
	display: block;
	font-size: 1em;
	margin: 0 auto 2em auto;
	text-align: center;
	border: 2px solid #e7e7e7;
	width: 200px;
}
.button:hover {
	background-color: #e7e7e7;
	color: black;
}

/*columns will stack naturally, size width to 100%
and change height to auto and position: relative*/

@media only screen and (max-width: 760px){
	.ebook .column {
		background-color: white;
		height: auto;
		width: 100%;
		position: relative;
	}
	.print .column {
		background-color: white;
		height: auto;
		width: 100%;
		position: relative;
	}
	.editorial .column {
		background-color: white;
		height: auto;
		width: 100%;
		position: relative;
	}
}
@media only screen and (max-width:950px){
	.about {
		display: block;
		padding: 1em 4em 1em 4em;
		text-align: center;
		background-color: white;
	}
	.Kayla {
		display: block;
		width: 40%;
		margin: 0 auto; /*centers image*/
	}
}
@media only screen and (max-width:600px){
	.about {
		display: block;
		padding: 1em 1em 1em 1em;
		text-align: center;
		background-color: white;
	}
	.Kayla {
		display: block;
		min-width: 300px
		margin: 0 auto; /*centers image*/
	}
}